.root {
  position: relative;
  border-radius: var(--border-radius);
}

.border {
  position: absolute;
  inset: 0;
  border-radius: var(--border-radius);
  background:
    linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 0, 0, 0) 65%
    ),
    linear-gradient(
      315deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 0, 0, 0) 65%
    );

  -webkit-mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: calc(var(--border-width) * 4);
}

.content {
  position: absolute;
  inset: var(--border-width);
  border-radius: var(--border-radius);
  backdrop-filter: blur(var(--blur-strength));
}