@use '/src/styles/mixins/breakpoint';

section.root {
  height: 54.5rem;
  background-color: var(--violete-dark);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-right: 2.75rem;
  position: relative;
  z-index: 3;

  @include breakpoint.tabletDown {
    height: auto;
    padding: 3.12rem var(--padding-horizontal-base);
  }

  .wrapper {
    position: relative;
    width: 55.625rem;
    height: 22.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include breakpoint.tabletDown {
      height: auto;
      width: 100%;
    }
  }

  .line {
    position: relative;
    white-space: nowrap;
    z-index: 2;
    display: inline-block;
    margin-left: 74rem;
    animation: marquee 8s cubic-bezier(0.65, 0, 0.35, 1) infinite;

    @include breakpoint.tabletDown {
      animation: none;
      margin-left: 0;
      margin-bottom: 2.3rem;
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(.5%);
    }
    50% {
      transform: translateX(-57%);
    }
    100% {
      transform: translateX(.5%);
    }
  }

  .gallery {
    position: absolute;
    z-index: 3;

    @include breakpoint.tabletDown {
      position: relative;
      width: 20.90625rem;
      height: 13.9375rem;
    }

    img {
      width: 33.75rem;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}
