@use "src/styles/mixins/breakpoint";

.modal {
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
  background: #fff;
  max-width: 480px;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.crossIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.title {
  width: 20.125rem;
  margin-bottom: 2.5rem;

  @include breakpoint.tabletDown {
    width: 14.0625rem;
    margin-bottom: 2rem;
  }
}

.sectionTitle {
  margin-bottom: 1rem;
}

.tabsWrapper {
  margin-bottom: 2rem;
}

.tabsDesktop {
  @include breakpoint.tabletDown {
    display: none;
  }

  display: flex;
  gap: 0.25rem;

  * {
    width: 12.0625rem;
  }
}

.tabsMobile {
  display: none;

  @include breakpoint.tabletDown {
    display: flex;
  }

  gap: 0.25rem;

  * {
    width: 8.5625rem;
  }

}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rowInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-bottom: 2rem;

  @include breakpoint.tabletDown {
    display: flex;
    flex-direction: column;
  }
}

.sectionTitle {
  margin-bottom: 1rem;
}

.learningInput {
  margin-bottom: 2.5rem;
  height: 3.6875rem;
  align-items: start;

  @include breakpoint.tabletDown {
    height: 4.4375rem;
    margin-bottom: 2rem;
  }
}

.submitBtn {
  width: fit-content;
  margin-bottom: 1rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  transition: none;

  @include breakpoint.tabletDown {
    width: 100%;
    text-align: center;

    * {
      width: 100%;
    }
  }

  &:not([disabled]) {
    @media(hover: hover) {
      &:hover {
        background: var(--violete-dark);
        border: var(--border-height-s) solid var(--violete-dark);;
      }
    }
  }
}

.submitText {
  color: #F5F5F5;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  label {
    margin-top: -0.2rem;
  }

  @include breakpoint.tabletDown {
    width: 16.3125rem;
  }
}

.link {
  color: var(--violete-dark);
}
