@use '/src/styles/mixins/breakpoint';

section.root {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: end;

  @include breakpoint.tabletDown {
    padding-top: 2rem;
  }

  .heading {
    max-width: 44.25rem;
  }

  .cards {
    display: grid;
    max-width: 44.25rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;

    @include breakpoint.tabletDown {
      display: none;
    }
  }

  .carousel {
    --slide-spacing: 0.63rem;
    --slide-size: 13.75rem;
    --slide-height: 14.625rem;
    display: none;
    margin-top: 2.44rem;
    margin-bottom: 6.25rem;

    @include breakpoint.tabletDown {
      display: flex;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: var(--border-height-s) var(--violete) dashed;
    //height: 13.8rem;
    border-radius: 1rem;
    padding: 1rem;
    transition: color var(--animation-duration-m) var(--animation-easing-default),
    background-color var(--animation-duration-m) var(--animation-easing-default);

    @include breakpoint.tabletDown {
      width: 13.75rem;
      height: 14.625rem;
    }

    &:hover {
      background-color: var(--violete-dark);

      span:last-child {
        color: var(--text-secondary);
      }
    }
  }

  .circle {
    width: 13.75rem;
    height: 13.875rem;

    @include breakpoint.tabletDown {
      width: 13.75rem;
      height: 13.75rem;
    }
  }

  .maskot {
    width: 47.8125rem;
    height: 42.0625rem;
    margin-top: -5rem;
    margin-left: 13rem;
  }
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.media {
  inline-size: 8.375rem;
  block-size: 8.375rem;
  flex: 0 0 8.375rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 0.75rem;

  video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    display: block;
  }
}

.gif {
}
