@use '/src/styles/mixins/breakpoint';

section.root {
  padding-top: 5rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 2;

  @include breakpoint.tabletDown {
    padding-bottom: 6.25rem;
  }

  a {
    color: var(--violete-dark);
    text-decoration: underline;
  }

  .headingWrapper {
    max-width: 44.25rem;
    width: 100%;

    .heading {
      width: 30rem;
    }

    @include breakpoint.tabletDown {
      max-width: 100%;

      .heading {
        width: 100%;
      }
    }
  }

  .faq {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 44.25rem;
    width: 100%;

    @include breakpoint.tabletDown {
      margin-top: 1rem;
      max-width: 100%;
    }

    .faqItem {
      padding: 1.5rem 0;
      border-bottom: var(--border-height-s) dashed var(--violete);
      display: flex;
      align-items: flex-start;
      cursor: pointer;

      .question {
        width: 21rem;
        margin-right: 4.375rem;
        transition: color var(--animation-duration-m) var(--animation-easing-default);

        @include breakpoint.tabletDown {
          /* мобильный/планшет — первый ряд (вопрос) */
          width: 15rem;
          flex: 1 1 auto;
          margin-right: 0;
        }
      }

      .expandable {
        width: 19.6875rem;
        margin-right: 2.625rem;

        a {
          transition: color var(--animation-duration-m) var(--animation-easing-default);
        }

        a:hover {
          color: var(--violete);
        }

        @include breakpoint.tabletDown {
          /* мобильный/планшет — второй ряд (ответ) */
          order: 3;
          width: 100%;
          transition: margin var(--animation-duration-m) var(--animation-easing-default);
          margin: 0;

          &.isExpanded {
            margin: 0.75rem 0 0 0;
          }
        }
      }

      .cross {
        width: 1.375rem;
        height: 1.375rem;
        transition: transform var(--animation-duration-m) var(--animation-easing-default);

        @include breakpoint.tabletDown {
          /* на одной строке с вопросом, справа */
          order: 2;
          margin-left: auto;
          width: 1.5rem;
          height: 1.5rem;
        }

        &.isExpanded {
          transform: rotate(45deg);
        }
      }

      @include breakpoint.tabletDown {
        /* превращаем в обычный аккордеон */
        flex-wrap: wrap;     /* перенос строк */
        align-items: center; /* выравнивание вопроса и крестика по центру */
      }
    }
  }
}
