@use '/src/styles/mixins/breakpoint';

section.root {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: end;

  @include breakpoint.desktopDown {
    padding-top: 7.5rem;
  }

  @include breakpoint.tabletDown {
    padding-top: 5.3rem;
  }

  .heading {
    max-width: 44.25rem;
    text-align: start;
    width: 100%;
  }

  .cards {
    display: grid;
    max-width: 44.25rem;
    grid-template-columns: 1fr;
    margin-top: 0;

    .cardWrapper {
      display: flex;
      gap: 1rem;

      @include breakpoint.tabletDown {

        margin-top: 2.5rem;

        .indexWrapper {
          width: fit-content;

          span {
            font-size: 1.92706rem;
          }
        }
      }

      .indexWrapper {
        background-color: var(--violete);
        transition: background-color var(--animation-duration-m) var(--animation-easing-default);
        border-radius: 999rem;
        height: 1.5rem;
        min-width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        user-select: none;

        span {
          margin-top: 0.2rem;
        }

        @include breakpoint.tabletDown {
          margin-top: 0;
          height: 2.3125rem;
          min-width: 2.3125rem;
        }
      }

      .card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 0;
        border-bottom: var(--violete) var(--border-height-s) dashed;
        width: 41.75rem;

        @include breakpoint.tabletDown {
          width: 100%;
          padding-top: 0;
          gap: 1rem;
        }
      }

      .subtitle-1 {
        width: 34.5625rem;
      }

      .subtitle-2 {
        width: 34.9375rem;
      }

      .subtitle-3 {
        width: 38.75rem;
      }

      .subtitle-4 {
        width: 40.3125rem;
      }

      @include breakpoint.tabletDown {
        .subtitle-1, .subtitle-2, .subtitle-3, .subtitle-4 {
          width: 100%;
        }
      }
    }
  }

  .active {
     background-color: var(--violete-dark) !important;
  }

  .maskot {
    width: 47.8125rem;
    height: 42.0625rem;
    margin-top: -5rem;
    margin-left: 13rem;
  }
}

.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
