@use '/src/styles/mixins/breakpoint';

section.root {
  padding: 5.3rem var(--padding-horizontal-base);
  display: flex;
  justify-content: end;
  position: sticky;
  top: 0;
  z-index: 1;

  @include breakpoint.desktopDown {
    padding: 9.3rem var(--padding-horizontal-base);
  }

  .content {
    width: 44.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint.desktopDown {
      width: 100%;
    }

    .image {
      width: 18.5rem;
    }
  }

  .headings {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .tracks {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border-left: var(--border-height-s) dashed var(--violete);
    padding-left: 2rem;
    margin-top: 3.5rem;
    width: 21.875rem;

    > div {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
  }
}
