@use '/src/styles/mixins/breakpoint';

.root {
  height: auto;
  width: 100%;
  z-index: 24;
  position: relative;

  .previewContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .playButton {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      user-select: none;
    }
  }
}

.rotateButton {
  @include breakpoint.tabletDown {
    max-width: 12.0625rem;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 3;
  }
}

.videoContainer {
  position: relative;
  width: 100%;
  overflow: hidden;

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include breakpoint.tabletDown {
    height: 100svh;

    .video {
      width: auto;
      height: 100svh;
    }
  }
}

/* превью с кнопкой по центру */
.preview {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;

  @include breakpoint.tabletDown {
    height: 23.75rem;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    // aspect-ratio: 1;

    @include breakpoint.tabletDown {
      height: 23.75rem;
    }
  }

  .playButtonPreview {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &:hover {
      svg {
        //transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }
}

.videoWrapper {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 50rem;

  @include breakpoint.tabletDown {
    height: 100svh;
  }

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pauseOverlay {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: none;

    svg { height: 8.4375rem; width: 8.4375rem; }

    @include breakpoint.tabletDown {
      svg { height: 8.4375rem; width: 8.4375rem; }
    }
  }

  .playOverlay {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeOut 500ms ease forwards;
    pointer-events: none;

    svg { height: 8.4375rem; width: 8.4375rem; }

    @include breakpoint.tabletDown {
      svg { height: 8.4375rem; width: 8.4375rem; }
    }
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.videoWrapperMobile {
  @include breakpoint.tabletDown {
    height: 23.75rem;
  }
}

.videoMobile {
  @include breakpoint.tabletDown {
    height: 23.75rem;
  }
}
