@use '/src/styles/mixins/breakpoint';

.root {
  height: 50rem;
  width: 100%;
  z-index: 24;
  position: relative;

  .previewContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .rotateButton {
      @include breakpoint.tabletDown {
        max-width: 12.0625rem;
        text-align: center;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
      }
    }

    .playButton {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      user-select: none;
    }

    div:last-child {
      width: 100%;
      height: 100%;
    }
  }
}
