@use "src/styles/mixins/breakpoint";

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.5);
  z-index: 9999;

  opacity: 0;
  transition: opacity .25s ease;
}

.overlayShown {
  opacity: 1;
}

.content {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,.3);
  width: 32.75rem;
  position: relative;

  opacity: 0;
  transform: translateY(12px);
  transition: opacity .25s ease, transform .25s ease;

  @include breakpoint.tabletDown {
    width: 22rem;
  }
}

.contentShown {
  opacity: 1;
  transform: translateY(0);
}

.crossIcon {
  cursor: pointer;
  position: absolute;
  right: 2.5rem;
  rotate: 45deg;
}
