@use 'reset';
@use 'variables/animations';
@use 'variables/colors';
@use 'variables/fonts';
@use 'variables/sizes';
@use 'variables/theme';
@use 'mixins/breakpoint';

html,
body {
  height: auto;
  min-height: 100%;
  width: 100%;
  overflow-x: clip;
}

html {
  font-size: calc(100vw * 16 / #{sizes.$screen-min-desktop});

  @include breakpoint.desktopDown {
    font-size: calc(100vw * 16 / #{sizes.$screen-min-tablet});
  }

  @include breakpoint.tabletDown {
    font-size: calc(100vw * 16 / #{sizes.$screen-min-mobile});
  }
}

body {
  overscroll-behavior: none;
  font-synthesis-weight: none;
  text-rendering: optimizelegibility;
  background-color: var(--background-page);
  color: var(--text-primary);
  font-family: var(--font-ppmachina);
  -webkit-tap-highlight-color: transparent;

  scroll-behavior: smooth;
  //overflow-x: hidden;
  //width: 100dvw;
  //overflow-x: clip; /* лучше чем hidden: не создаёт новый формат. Safari 16+ */
  /* если нужна совместимость постарше: */
  /* overflow-x: hidden; */
}

section[id] { scroll-margin-top: 2rem; }

*,
::after,
::before {
  box-sizing: border-box;
}

.main {
  min-height: 100svh;
  margin-top: var(--header-height);
}
