.Carousel {
    display: flex;
    --slide-height: auto;
    --slide-spacing: 1rem;
    --slide-size: auto;
}

.Carousel img {
    user-select: none;
    -webkit-user-drag: none;
    object-fit: cover;
    width: var(--slide-size);
    height: var(--slide-height);
}

.embla {
    position: relative;
    width: 100%;
    margin: auto;
}

.embla__viewport {
    width: 100%;
}

.embla__container {
    display: flex;
    width: 100%;
}

.embla__slide {
    min-width: 0;
    flex: 0 0 var(--slide-size);
    transform: translate3d(0, 0, 0);
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    gap: var(--slide-spacing);
}
