@use '/src/styles/mixins/utils';

.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: var(--button-height);
  width: var(--button-width, auto);
  cursor: pointer;
}

.loadingIndicator {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size {
  &L {
    --button-height: var(--control-height-l);

    padding: 0 var(--space-7);
  }

  &M {
    --button-height: var(--control-height-m);

    padding: 0 var(--space-4);
  }

  &S {
    --button-height: var(--control-height-s);

    padding: 0 var(--space-2);
  }
}

.variant {
  &Primary {
    color: var(--button-primary-foreground);
    background-color: var(--button-primary-background);

    --background-color-hover: var(--invert-hover-color);
  }

  &Outline {
    background-color: var(--button-outline-background);
    color: var(--button-outline-foreground);

    @include utils.innerBorder(
      var(--border-height-m),
      var(--button-outline-border)
    );
  }

  &Circle {
    width: 100%;
    height: 100%;
    border-radius: 999rem;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--button-circle-foreground);
    background-color: var(--button-circle-background);

    transition: transform var(--animation-easing-default) var(--animation-duration-m);

    &:hover {
      transform: scale(1.02);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.root.loading {
  cursor: wait;

  .main {
    visibility: hidden;
  }
}
