@use '/src/styles/mixins/breakpoint';

.root {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
  position: fixed;
  z-index: 3;
  bottom: 5rem;
  width: 100%;

  .vk, .tg {
    width: 4.625rem;
    height: 4.625rem;

    @include breakpoint.tabletDown {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .vk {
    background: url("/images/media/vk-hover.webp");
    background-size: cover;
  }

  .tg {
    background: url("/images/media/tg-hover.webp");
    background-size: cover;
  }

  @include breakpoint.desktopDown {
    display: flex;
  }

  @include breakpoint.tabletDown {
    bottom: 2.5rem;
  }
}
