@use '/src/styles/mixins/breakpoint';

.root {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
  //position: fixed;
  z-index: 3;
  bottom: 5rem;
  width: 100%;

  .button {
    line-height: 1.5625rem;
  }

  .linkBtnsSecondary {
    display: flex;
    gap: 0.25rem;

    .vk {
      width: 2.5rem;
      height: 2.5rem;
      background: url("/images/media/vk_outline.webp");
      background-size: cover;
    }

    .tg {
      width: 2.5rem;
      height: 2.5rem;
      background: url("/images/media/tg_outline.webp");
      background-size: cover;
    }
  }

  .linkBtnsPrimary {
    display: flex;
    gap: 0.25rem;

    .vk, .tg {
      width: 4.625rem;
      height: 4.625rem;

      @include breakpoint.tabletDown {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    .vk {
      background: url("/images/media/vk-hover.webp");
      background-size: cover;
    }

    .tg {
      background: url("/images/media/tg-hover.webp");
      background-size: cover;
    }
  }

  @include breakpoint.desktopDown {
    display: flex;
  }

  @include breakpoint.tabletDown {
    bottom: 2.5rem;
  }
}
