@use '/src/styles/mixins/typography';
@use '/src/styles/mixins/breakpoint';

.root {
  position: relative;
  z-index: 1004;
}

.panel {
  width: 15.4375rem;                  /* 247px */
  padding: 1.5rem;                    /* 24px */
  border-radius: 1rem;                /* 16px */
  background: var(--violete-dark);         /* твоя фиолетовая переменная */
  color: var(--text-secondary);       /* светлый текст на фиолете */
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  max-height: calc(100svh - var(--header-height) - 1rem);
  z-index: 1010;
}

/* список ссылок */
.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;                       /* 12px */
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;                    /* 16px */
  line-height: 1.25rem;               /* 20px */
  transition: opacity var(--animation-duration-m) var(--animation-easing-default);

  @include typography.descriptionL;

  &:hover { opacity: .9; }
}

/* блок с маскотом и CTA */
.hero {
  position: relative;
  margin-top: 1rem;                   /* 16px */
  padding-top: 3.5rem;                /* под маскота */
}

.mascot {
  position: absolute;
  top: -1.2rem;
  right: 3.35rem;
  width: 7.625rem;
  height: auto;
  pointer-events: none;

  @include breakpoint.tabletDown {
    top: -2rem;
    right: 2rem;
    width: 9.3rem;
    height: auto;
    pointer-events: none;
  }
}

.title {
  width: 100%;
  font-size: 1.25rem;
}

.subtitle {
  margin-top: 0.5rem;                 /* 8px */
}

.cta {
  width: 100%;
  margin-top: 1.5rem;                   /* 16px */
}

/* контакты/соцсети/футер */
.contact {
  margin-top: 3.5rem;                 /* 24px */
}

.contactTitle {
  color: var(--text-secondary);
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 0.75rem;

  .vk {
    background: url('/images/media/vk_white.webp');
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
  }

  .tg {
    background: url('/images/media/tg_white.webp');
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.privacy {
  display: inline-block;
  margin-top: 2.5rem;
  //max-width: 10.5rem;
}

.footer {
  margin-top: 0.25rem;                /* 4px */
  opacity: .7;
}
