@use '/src/styles/mixins/breakpoint';

section.root {
  padding: 5rem 6.4rem 6.25rem;
  display: flex;
  justify-content: start;
  background-color: var(--violete-dark);
  flex-direction: column;
  align-items: center;
  height: 55rem;
  position: relative;
  z-index: 21;

  @include breakpoint.desktopDown {
    height: 100dvh;
    justify-content: center;
    padding: 0 var(--padding-horizontal-base) 0;
  }

  .heading {
    text-align: center;
  }
}

.slider {
  position: relative;
  margin-top: 3.75rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include breakpoint.tabletDown {
    margin-top: 1.5rem;
  }

  .headingButton {
    @include breakpoint.desktopDown {
      display: none;
    }

    span {
      max-width: 20.68rem;
    }

    button {
      margin-top: 1.5rem;
    }
  }

  .controlsPosition {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 22.3125rem;
    margin-top: 20rem;

    @include breakpoint.desktopDown {
      width: 100%;
      margin-top: 12.25rem;
      align-items: center;
    }

    @include breakpoint.tabletDown {
      margin-top: 7rem;
      height: 18rem;
    }

    .position {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include breakpoint.desktopDown {
        text-align: center;
        margin-top: 16rem;
        max-width: 33.3rem;
      }

      @include breakpoint.tabletDown {
        margin-top: 5rem;
      }
    }
  }

  .carouselControls {
    color: white;

    button:first-child {
      transform: rotate(180deg);
    }

    @include breakpoint.desktopDown {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .cards {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    width: 34.1875rem;
    height: 35.125rem;

    @include breakpoint.tabletDown {
      width: auto;
      height: auto;
    }
  }

  .imageCards {
    position: absolute;
    width: 34.1875rem;
    height: 35.125rem;
    left: 0;
    top: -10%;
    transition: transform 0.6s ease;

    &.rotate-0 {
      transform: rotate(0deg);
    }
    &.rotate-1 {
      transform: rotate(3deg);
    }
    &.rotate-2 {
      transform: rotate(6deg);
    }
    &.rotate-3 {
      transform: rotate(9deg);
    }

    @include breakpoint.tabletDown {
      display: none;
    }
  }

  .card {
    position: absolute;
    width: 23.1875rem;
    height: 26.3125rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, z-index 0.6s ease;

    @include breakpoint.tabletDown {
      width: 13rem;
      height: 13rem;
    }

    .icon {
      width: 4.37063rem;
      height: 4.50156rem;
      position: absolute;
      top: 4.6rem;
      right: 0;
      transform: translateX(50%);

      @include breakpoint.tabletDown {
        width: 2.33963rem;
        height: 2.41981rem;
        top: 1.6rem;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &.active {
      opacity: 1;
      z-index: 10;
      transform: rotate(0deg);
    }
  }
}
