@use 'sass:color';
@use 'sass:math';

@function hexToRGB($hex) {
  @return color.channel($hex, 'red', $space: rgb)
    color.channel($hex, 'green', $space: rgb)
    color.channel($hex, 'blue', $space: rgb);
}

:root {
  --black: #000000;
  --white: #ffffff;
  --violete: #BB97F3;
  --violete-dark: #752CE8;
  --gray-dark: #5F5F5F;
  --gray: #B5B5B5;
}
