:root {
  color-scheme: light dark;

  --background-page: #ffffff;

  // Text
  --text-primary: var(--black);
  --text-secondary: var(--white);
  --text-violete: var(--violete);
  --text-violete-dark: var(--violete-dark);
  --text-gray-dark: var(--gray-dark);
  --text-gray: var(--gray);

  // Button.Primary
  --button-primary-background: var(--violete-dark);
  --button-primary-foreground: var(--text-secondary);
  --button-primary-hover-background: transparent;

  // Button.Secondary
  --button-secondary-background: white;
  --button-secondary-foreground: var(--text-violete-dark);
  --button-secondary-hover-background: transparent;
  --button-secondary-hover-foreground: var(--text-secondary);

  // Button.Outline
  --button-outline-background: transparent;
  --button-outline-foreground: var(--text-secondary);
  --button-outline-border: white;
  --button-outline-hover-background: var(--violete-dark);

  // Button.Circle
  --button-circle-background: var(--violete-dark);
  --button-circle-foreground: var(--text-secondary);

  // Unsorted
  --default-hover-color: light-dark(var(--black-a1), var(--white-a1));
  --invert-hover-color: light-dark(var(--white-a2), var(--black-a2));
}
