.image {
  display: block;
  width: var(--image-width, 100%);
  height: var(--image-height, auto);
  object-fit: var(--object-fit, cover);
  -webkit-user-drag: none;
}

.root[data-loading='true'] {
  background-color: light-dark(var(--black-a1), var(--white-a2));

  .image {
    visibility: hidden;
  }
}
