.root {
  display: block;
}

.weightRegular {
  font-weight: 400;
}

.weightMedium {
  font-weight: 500;
}

.weightSemiBold {
  font-weight: 600;
}

.weightBold {
  font-weight: 700;
}

.extraBold {
  font-weight: 800;
}

.colorPrimary {
  color: var(--text-primary);
}

.colorSecondary {
  color: var(--text-secondary);
}

.colorAccent {
  color: var(--text-accent);
}

.colorViolete {
  color: var(--text-violete);
}

.colorDarkViolete {
  color: var(--text-violete-dark);
}

.colorGray {
  color: var(--text-gray);
}

.colorDarkGray {
  color: var(--text-gray-dark);
}

.colorInherit {
  color: inherit;
}
