.IconButton {
  cursor: pointer;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IconButton:disabled {
  color: var(--violete-light);
  cursor: not-allowed;
}
