@use '/src/styles/mixins/breakpoint';

section.root {
  padding-top: 1.6875rem;
  padding-right: 13.75rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-bottom: 8rem;

  @include breakpoint.desktopDown {
    padding-top: 2.5rem;
    padding-right: 1.88rem;
  }

  @include breakpoint.tabletDown {
    padding-top: 2.3rem;
    padding-right: 1.25rem;
    align-items: center;
    padding-bottom: 6.25rem;
    z-index: 1000;
    position: relative;
  }

  .headings {
    display: flex;
    flex-direction: column;

    span:nth-child(2) {
      max-width: 19rem;

      @include breakpoint.tabletDown {
        max-width: 100%;
      }
    }
  }

  .button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .regTextDesk {
    margin-left: 2.5rem;

    @include breakpoint.tabletDown {
      display: none;
    }
  }

  .regDie {
    width: 11.5625rem;
    margin-top: 3rem;
    position: absolute;
    margin-right: 1.0625rem;

    @include breakpoint.tabletDown {
      margin-left: 10rem;
      width: 11.5625rem;
      margin-top: 5.8rem;
    }
  }

  .regTextMob {
    margin-top: 0.5rem;
    display: none;

    @include breakpoint.tabletDown {
      display: flex;
    }
  }

  .ctaButton {
    margin-right: 9rem;
    font-size: 2.5rem;

    &:hover {
      background-color: transparent;
      color: var(--violete-dark);
      border: var(--border-height-s) solid var(--violete-dark);
    }

    @include breakpoint.tabletDown {
      display: none;
    }
  }

  .maskot {
    width: 47.8125rem;
    height: 42.0625rem;
    margin-top: -5rem;
    margin-left: 13rem;
    transition: transform 0.1s linear;

    @include breakpoint.desktopDown {
      width: 47.3rem;
      height: auto;
      margin-top: -5rem;
      margin-left: -3rem;
    }

    @include breakpoint.tabletDown {
      width: 23rem;
      margin-left: 0;
      margin-top: -2rem;
    }
  }
}

.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  @include breakpoint.desktopDown {
    width: 115rem;
    left: -43rem;
  }

  @include breakpoint.tabletDown {
    top: 0;
  }
}
