@use '/src/styles/mixins/breakpoint';
@use '/src/styles/mixins/typography';

.root {
  width: 14.6225rem;
  position: fixed;
  top: 0;
  padding-top: 1.62rem;
  padding-bottom: 1.62rem;
  z-index: 20;
  will-change: clip-path;
  padding-left: 2.56rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100svh;

  @include breakpoint.desktopDown {
    display: none;
  }

  .logo {
    width: 1.75rem;
    height: 1.75rem;
    aspect-ratio: 1 / 1;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    transition: color var(--animation-duration-m) var(--animation-easing-default);
    margin-top: 1rem;

    a {
      @include typography.descriptionL;
      transition: color var(--animation-duration-m) var(--animation-easing-default);
    }
  }

  .withMascot {
    position: relative;
  }

  .maskot {
    position: absolute;
    width: 9.30131rem;
    height: 7.77738rem;
    top: -4.7rem;
    left: 0.6rem;
  }

  .it2025 {
    //margin-top: 6.25rem;
    width: 10.375rem;
  }

  .description {
    margin-top: 0.5rem;
  }

  > div > button {
    width: 100%;
    margin-top: 1.5rem;
  }

  .btns {
    display: flex;
    gap: 0.25rem;
    margin-top: 0.75rem;

    button {
      width: 2.5rem;
      height: 2.5rem;
    }

    .vk {
      background: url("/images/media/vk-purple.webp");
      background-size: cover;

      &:hover {
        background: url("/images/media/vk_violet.png");
        background-size: cover;
      }
    }

    .tg {
      background: url("/images/media/tg-purple.webp");
      background-size: cover;

      &:hover {
        background: url("/images/media/tg_violet.png");
        background-size: cover;
      }
    }
  }

  .privacy {
    display: block;
    margin-top: 2.5rem;
    margin-bottom: 0.25rem;
  }

  .getInTouch {
    //margin-top: 6.25rem;
  }

  .gradient {
    position: absolute;
    top: -9.6rem;
    left: -22rem;
    z-index: -1;
    overflow: visible;
    width: 50rem;
    height: 30rem;
  }
}

.active {
  //text-decoration: underline;
  //text-underline-offset: 0.3rem;
}

.white {
  color: var(--text-gray);
  pointer-events: auto;

  .getInTouch {
    color: var(--text-primary);
  }

  .active {
    color: var(--violete-dark);
  }

  a:hover {
    color: var(--text-primary);
  }

  a:active {
    color: var(--violete-dark);
  }
}

.purple {
  color: var(--violete);

  .getInTouch {
    color: var(--text-secondary);
  }

  .active {
    color: var(--text-secondary);
  }

  a {
    pointer-events: auto;
  }

  a:hover {
    color: white;
  }

  a:active {
    color: white;
  }

  .btns {
    .vk {
      background: url("/images/media/vk_white.webp");
      background-size: cover;

      &:hover {
        background: url("/images/media/vk_outline.webp");
        background-size: cover;
      }
    }

    .tg {
      background: url("/images/media/tg_white.webp");
      background-size: cover;

      &:hover {
        background: url("/images/media/tg_outline.webp");
        background-size: cover;
      }
    }
  }

  .gradient {
    //top: 3rem;
  }
}
