@mixin displayXL {
  font-size: 4.75rem; // 76px
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 800;
}

@mixin displayL {
  font-size: 4rem; // 64px
  line-height: 110%;
  letter-spacing: -0.02em;
}

@mixin displayM {
  font-size: 2.625rem; // 42px
  line-height: 100%;
  letter-spacing: -0.02em;
}

@mixin displayS {
  font-size: 2.5rem; // 40px
  line-height: 100%;
  letter-spacing: -0.02em;
}

@mixin displayXS {
  font-size: 1.25rem; // 20px
  line-height: 100%;
  letter-spacing: -0.02em;
}

@mixin displayXXS {
  font-size: 10rem; // 16px
  line-height: 120%;
  letter-spacing: -0.02em;
}


@mixin headingXL {
  font-size: 4rem; // 64px
  line-height: 110%;
  letter-spacing: -0.02em;
}

@mixin heading1 {
  font-size: 2rem; // 32px
  line-height: 100%;
  letter-spacing: -0.02em;
}

@mixin headingM {
  font-size: 1.5rem; // 24px
  line-height: 110%;
  letter-spacing: -0.02em;
}


@mixin bodyM {
  font-size: 1.5rem; // 24px
  line-height: 100%;
  letter-spacing: -0.02em;
}

@mixin bodyL {
  font-size: 1.25rem; // 20px
  line-height: 110%;
  letter-spacing: -0.02em;
}

@mixin bodyS {
  font-size: 1rem; // 16px
  line-height: 110%;
  letter-spacing: -0.02em;
}


@mixin descriptionXL {
  font-size: 2rem; // 32px
  line-height: 100%;
  letter-spacing: -0.02em;
}

@mixin descriptionL {
  font-size: 1.25rem; // 20px
  line-height: 110%;
  letter-spacing: -0.02em;
}

@mixin descriptionM {
  font-size: 1.125rem; // 18px
  line-height: 100%;
  letter-spacing: -0.02em;
}

@mixin descriptionS {
  font-size: 1rem; // 16px
  line-height: 100%;
  letter-spacing: -0.02em;
}

@mixin descriptionXS {
  font-size: 0.875rem; // 14px
  line-height: 100%;
  letter-spacing: -0.02em;
}

@mixin descriptionXXS {
  font-size: 0.75rem; // 12px
  line-height: 100%;
  letter-spacing: -0.02em;
}

@mixin descriptionXXSStrong {
  font-size: 0.75rem; // 12px
  line-height: 100%;
  font-weight: bold;
  letter-spacing: -0.02em;
}
