@use '/src/styles/mixins/breakpoint';

@mixin displayXL {
  font-size: 4.75rem; // 76px
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 800;
  text-transform: uppercase;
  font-family: var(--font-ppmachina-inktrap), sans-serif;

  @include breakpoint.tabletDown {
    font-size: 2.25rem;
  }
}

@mixin displayL {
  font-size: 4rem; // 64px
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 800;
  text-transform: uppercase;
  font-family: var(--font-ppmachina-inktrap), sans-serif;

  @include breakpoint.tabletDown {
    font-size: 1.5rem;
  }
}

@mixin displayM {
  font-size: 2.625rem; // 42px
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 800;
  text-transform: uppercase;
  font-family: var(--font-ppmachina-inktrap), sans-serif;

  @include breakpoint.tabletDown {
    font-size: 2.77175rem;
  }
}

@mixin displayS {
  font-size: 2.5rem; // 40px
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 800;
  text-transform: uppercase;
  font-family: var(--font-ppmachina-inktrap), sans-serif;
}

@mixin displayXS {
  font-size: 1.25rem; // 20px
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 800;
  text-transform: uppercase;
  font-family: var(--font-ppmachina-inktrap), sans-serif;

  @include breakpoint.tabletDown {
    font-size: 0.92394rem;
  }
}

@mixin displayXXS {
  font-size: 1rem; // 16px
  line-height: 120%;
  letter-spacing: -0.02em;
  font-weight: 800;
  text-transform: uppercase;
  font-family: var(--font-ppmachina-plain), sans-serif;
}


@mixin headingXL {
  font-size: 4rem; // 64px
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 800;
  text-transform: uppercase;
  font-family: var(--font-ppmachina-inktrap), sans-serif;

  @include breakpoint.tabletDown {
    font-size: 2.5rem;
  }
}

@mixin heading1 {
  font-size: 2rem; // 32px
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 800;
  font-family: var(--font-ppmachina-plain), sans-serif;
}

@mixin headingM {
  font-size: 1.5rem; // 24px
  line-height: 110%;
  letter-spacing: -0.02em;
  font-family: var(--font-ppmachina-plain), sans-serif;

  @include breakpoint.tabletDown {
    font-size: 1.25rem;
  }
}

@mixin bodyM {
  font-size: 1.5rem; // 24px
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-family: var(--font-ppmachina-plain), sans-serif;
}

@mixin bodyL {
  font-size: 1.25rem; // 20px
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-family: var(--font-ppmachina-plain), sans-serif;
}

@mixin bodyS {
  font-size: 1rem; // 16px
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-family: var(--font-ppmachina-plain), sans-serif;
}

@mixin bodySStrong {
  font-size: 1rem; // 16px
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-family: var(--font-ppmachina-inktrap), sans-serif;
}

@mixin descriptionXL {
  font-size: 2rem; // 32px
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-family: var(--font-ppmachina-plain), sans-serif;
}

@mixin descriptionL {
  font-size: 1.25rem; // 20px
  line-height: 110%;
  font-weight: 400;
  letter-spacing: -0.02em;
  font-family: var(--font-ppmachina-plain), sans-serif;
}

@mixin descriptionM {
  font-size: 1.125rem; // 18px
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 800;
  font-family: var(--font-ppmachina-inktrap), sans-serif;
}

@mixin descriptionS {
  font-size: 1rem; // 16px
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-family: var(--font-ppmachina-plain), sans-serif;
}

@mixin descriptionXS {
  font-size: 0.875rem; // 14px
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.02em;
  font-family: var(--font-ppmachina-inktrap), sans-serif;
}

@mixin descriptionXXS {
  font-size: 0.75rem; // 12px
  line-height: 100%;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-family: var(--font-ppmachina-plain), sans-serif;
}

@mixin descriptionXXSStrong {
  font-size: 0.75rem; // 12px
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.02em;
  font-family: var(--font-ppmachina-plain), sans-serif;
}
