@use '/src/styles/mixins/utils';
@use 'src/styles/mixins/breakpoint';

.root {
	position: relative;
	display: inline-flex;
	align-items: center;
	border-radius: 1.5rem;
	cursor: pointer;
	padding: 0.5rem 2rem;
	transition: background-color var(--animation-duration-m) var(--animation-easing-default),
	color var(--animation-duration-m) var(--animation-easing-default);
	overflow: hidden;
	border: var(--violete) 0.0625rem solid;

	@include breakpoint.tabletDown {
		padding: 0.5rem 1.5rem;
	}

	&.isActive {
		&::before {
			opacity: 1;
		}
		@include utils.innerBorder(0px, transparent);
	}
}

.main {
	width: 100%;
	text-align: center;
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	position: relative;
	z-index: 2;

	span {
		text-align: center;
		width: 100%;
	}
}

.variantSecondary {
	position: relative;
	background-color: var(--tab-secondary-background);
	color: var(--tab-secondary-foreground);

	&:not([disabled]) {
		@media(hover: hover) {
			&:hover {
				background-color: var(--violete);
				//color: var(--tab-secondary-hover-foreground);

				span {
					color: white;
				}

			}
		}

		//&:active {
		//	background-color: green;
		//}
	}

	&:not(.isActive) {
		@include utils.innerBorder(blue, rgba(255, 255, 255, 0.08));
	}

	&.isActive {
		background-color: var(--violete);

		span {
			color: white;
		}
	}
}