.root {
  padding-top: 5rem;
  padding-bottom: 12rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: var(--violete-dark);
  position: relative;

  .contentWrapper {
    width: 44.25rem;

    .heading {
      max-width: 10rem;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 1.5rem;
    margin-top: 3.5rem;

    .card {
      position: relative;
      height: 20.125rem;
      width: 100%;
    }

    .contentCard {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: end;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.08);

      .image {
        position: absolute;
        left: 50%;
        top: 0.8rem;
        transform: translateX(-50%);
        width: 13rem;
        height: auto;
      }
    }
  }
}

.gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}